$containerWidth: 940px;
$baseFontSize:  18px;
$textLineHeight: 1.3;


$tablets: 768px;
$phones: 480px;


$blue: #61c4d9;
$darkGreen: #0b4d3c;
$black: #292929;
$green: #497870;
$lightGrey: #F8FAF9;
$middleGrey: #626262;
$grey: #313131;

$z-fixed-menu: 100;
$z-fullscreen-menu: 1000;
$z-decor: 10;
$z-dropdown: 20;

@import "media";
@import "layout";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');
@import "./components/*.scss";