.form {
  display: flex;
  @include tablets {
    flex-direction: column;
    padding: 0 18%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(20px);

  @include tablets {
    margin-right: 0;
  }
    &:last-child {
      margin-right: 0;
    }
}

.form__row {
  display: flex;
  margin-bottom: rem(14px);

  @include tablets {
    margin-bottom: rem(12px);
  }

  @include phones {
    margin-bottom: rem(18px);
  }
  &--controls {
    margin-bottom: rem(46px);

    @include tablets {
      margin-bottom: rem(38px);
    }
  }
}

.form__block {
  flex: 1;
  margin-right: rem(15px);

    &:last-child {
      margin-right: 0;
    }
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(14px) rem(11px);
  border: solid rem(3px) transparent;
  border-radius: rem(4px);

   &--textarea {
     height: rem(145px);
     resize: none;
   }

   &:focus {
     border-color: #dee2bd;
     outline: none;
   }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  padding: rem(11px) rem(0px);

  @include phones {
    justify-content: center;
  }
}

.form__btns {
  margin-top: rem(36px);
  @include tablets {
    text-align: center;
  }
}