.order-section {
  background-image: url(../img/form-leaf.png), url(../img/form-berries.png), url(../img/form-pattern.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto, auto, cover;
    background-position: 99% 82%, 2% 86%, center;
}